* {

box-sizing: border-box;
}

h1, h2, p{
    text-align: center;
}

h1, h2 {
    color: #7a7ae4;
}

main {
 
    margin: auto;
    background-color: #b9b9cc;
    box-shadow: 0 0 50px black;
    max-width: 90%;
    padding: 10px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    background-color: #b9b9cc;
    max-width: 90%;
    padding: 10px;

}

section {
    padding: 10px;
}

img {
    width: 250px;
    box-shadow: 0 0 50px black;
}
footer {
    text-align: center;
    padding: 20px;
    width: 900px;
    background-color: #7a7ae4;
    margin: auto;
}

